/*COLORS */
:root {
  --primary: #007bff;
 --bk-color: #151619;

 
  --red: #c83334;
  --yellow: #f2ff00;
  --gold: #daa520;
  --teal: #13ff00;
  --cyan: #e0eeee;



  
  --blue: #00dfc0;
  --indigo: #5011b6;
  --purple: #6f42c1;
  --orange: #fd7e14;
  --green: #4ade80;

  --white: #ebebeb;
  --gray: #6c757d31;
  --gray-dark: #343a40;

  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
 
  --f-spinner-color-2: rgba(17,24,28,.8);
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #1f212b;
  --card: #211d1d;
}

/* SECTION1 */
.section_1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


/* CARD 1  */
.card_1 {
  position: absolute;
  z-index: 2;
  width: 64%;
  height: 70%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* border: 1px solid red; */
  overflow: hidden;
}




/*CARD 1 -  title_  */
.title_{
  /* border: 1px solid red; */
  width: 100%;
  height: 30%;
  position: absolute;
  overflow: hidden;
  top: 0;
  font-family: 'Orbitron';
  color: var(--white);
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 1rem;
}

/* mini_cards */
.mini_cards{
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* card_ */
.mini_cards .card_{
  border: 1px solid rgba(255, 255, 255, 0.193);
  width:30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

}
.mini_cards .card_:nth-child(1){
  width: 65%;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  
 h3{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Proelium';
  font-size: 2vw;
  color: var(--primary);
 }

 p{
  color: var(--white);
  font-family: 'Gotham';
 }


/* btn_ */
.btn_div{
  width: 100%;
  height: 15vh;
   display: flex;
  align-items: center;
  justify-content: space-between;

  
  button{
    width: 60%;
    margin-left: 1vw;
  }
}
/* .btn_div span */
.btn_div span{
 width: 30% ;
 height: 8vh;
 display: flex;
align-items: center;
justify-content: space-between;
border-radius: 10px;
}
/* .btn_div span a */
.btn_div span a{

  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgb(0, 132, 255), rgb(0, 145, 255), blue);
  transition: 0.5s;
}
.btn_div span a:hover{
  box-shadow: 1px 1px 1rem rgb(255, 255, 255);
}
.btn_div span a .bi{
  color: var(--white);
  transition: 0.5s;
}

.btn_div span a .bi:hover{
  color: var(--white);
  
}


}

/* .mini_cards .card_:nth-child(2) */
.mini_cards .card_:nth-child(2){

  background-color: #151619;
 
  
 
}




/* CARD 2  */
.card_2 {
  z-index: 2;
  width: 30%;
  height: 70%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
 
}




/* =================== MIDIA SCREEN ============================ */
@media (max-width:480px) {


/* SECTION1 */
.section_1 {
  width: 100vw;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}






/*CARD 1 -  title_  */
.title_{

  width: 100%;
  height: 20%;
  position: absolute;
  overflow: hidden;
  top: 0;
  margin-top: 10vh;
  font-family: 'Orbitron';
  color: var(--white);
  font-size: 14vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 1rem;
 
}



/* CARD 1  */
.card_1 {
 
  z-index: 2;
  width: 100%;
  height: 60%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 2vh;
  position: relative;
  overflow: hidden;
  /* border: 1px solid red; */
  overflow: hidden;

}







/* mini_cards */
.mini_cards{
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
  flex-direction: column;
 
}

/* card_ */
.mini_cards .card_{
  border: 1px solid rgba(255, 255, 255, 0.193);
  width:30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
 

}
.mini_cards .card_:nth-child(1){
  width: 95%;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  
 h3{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Proelium';
  font-size: 7vw;
  color: var(--primary);
 }

 p{
  color: var(--white);
  font-family: 'Gotham';
  font-size: 4vw;
 }


/* btn_ */
.btn_div{
  margin-top: 1vh;
  width: 100%;
  height: 20vh;
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  flex-direction: column;

  
  button{
    width: 80%;
    margin-left: 1vw;
  }
  button .bi{
    font-size: 5vw;
  }
}
/* .btn_div span */
.btn_div span{
 width: 60% ;
 height: 5vh;
 display: flex;
align-items: center;
justify-content: space-between;
border-radius: 10px;
}
/* .btn_div span a */
.btn_div span a{

  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgb(0, 132, 255), rgb(0, 145, 255), blue);
  transition: 0.5s;
}
.btn_div span a:hover{
  box-shadow: 1px 1px 1rem rgb(255, 255, 255);
}
.btn_div span a .bi{
  color: var(--white);
  transition: 0.5s;
  
}

.btn_div span a .bi:hover{
  color: var(--white);
  
}


}

/* .mini_cards .card_:nth-child(2) */
.mini_cards .card_:nth-child(2){

  background-color: #151619;
 width: 95%;
 height: 50%;
  
 
}




/* CARD 2  */
.card_2 {
  z-index: 2;
  width: 100%;
  height: 30%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content:center;

 
}

}