/* // AQUI FICA O SCSS DO PAGE 2  */
.section_3 {
  width: 100%;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
/* .section_3 title */
.section_3 .title_{
   width: 100%;
   height: 30%;
   position: absolute;
   overflow: hidden;
   top: 0;
   font-family: 'Proelium';
   color: var(--bk-color);
   font-size: 5vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
 margin-top: -5vh;
}

.cards_trilha {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  gap: 2vh;
  padding: 0;
  width: 100%;
  height: 80%;
 
 
}

/* card1 */
.card1 {
  border: 1px solid var(--gray);
  width: 23%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
 
}
/* card1 */
.card2 {
   border: 1px solid var(--gray);
   width: 23%;
   height: 70%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
   border-radius: 10px;
}
/* card1 */
.card3 {
   border: 1px solid var(--gray);
   width: 23%;
   height: 70%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
   border-radius: 10px;
}
/* card1 */
.card4 {
   border: 1px solid var(--gray);
  width: 23%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
}

/* text_card */
.text_card{
   
   width: 100%;
   height: 30%;
   overflow: hidden;
}
/* .text_card h1 */
.text_card h1{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Proelium";
   font-size: 1.5vw;
   color: var(--bk-color);
}
.text_card p{
   color: var(--bk-color);
    font-family: "Gotham";
    font-size: 1.3vw;
}



/* ============================ MIDIA SCREEN =============================== */
@media (max-width:480px) {
   /* // AQUI FICA O SCSS DO PAGE 2  */
.section_3 {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   overflow: hidden;
   position: relative;
 }
 /* .section_3 title */
 .section_3 .title_{
    width: 100%;
    height: 15%;
    position: absolute;
    overflow: hidden;
    top: 0;
    font-family: 'Proelium';
    color: var(--bk-color);
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;

 }
 
 .cards_trilha {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   position: relative;
   gap: 2vh;
   margin-top: 20vh;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
  
  
 }
 
 /* card1 */
 .card1 {
   border: 1px solid var(--gray);
   width: 100%;
   height: 25%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
   border-radius: 10px;
   overflow: hidden;
 }
 /* card1 */
 .card2 {
   border: 1px solid var(--gray);
   width: 100%;
   height: 25%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
   border-radius: 10px;
   overflow: hidden;
 }
 /* card1 */
 .card3 {
   border: 1px solid var(--gray);
   width: 100%;
   height: 25%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
   border-radius: 10px;
   overflow: hidden;
 }
 /* card1 */
 .card4 {
   border: 1px solid var(--gray);
   width: 100%;
   height: 25%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
   border-radius: 10px;
   overflow: hidden;
 }
 
 /* text_card */
 .text_card{
   overflow: hidden;
    width: 100%;
    height: 30%;
    overflow: hidden;
 }
 /* .text_card h1 */
 .text_card h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Proelium";
    font-size: 6vw;
    color: var(--bk-color);
    overflow: hidden;
 }
 .text_card p{
    color: var(--bk-color);
     font-family: "Gotham";
     font-size: 5vw;
     overflow: hidden;
 }
}