/* terminal wrapper - used only for align terminal window */
.terminal {
  width: 100%;
  height: 100%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0.2rem;
}

/* terminal window */
.terminal__window {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.terminal__window-header {
  text-align: center;
  background: #000000;
  border-radius: 5px 5px 0 0;
  color: #e4e4e4;
  padding: 0.1rem;
  position: relative;
  border-bottom: 1px solid #676d6f;
}

.terminal__controls {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0 10px;
  transform: translateY(-50%);
}

.terminal__controls:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff0000;
  vertical-align: middle;
}

.terminal__controls:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4dff00;
  vertical-align: middle;
  margin: 0 0 0 5px;
}

.terminal__window-body {
  border: 1px solid #3c3f40;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

/* terminal screen */
.terminal__screen {
  width: 100%;
  min-height: 350px;
  padding: 15px;

  border-radius: 0 0 3px 3px;
  overflow-y: auto;
}

.terminal__screen > span {
  margin: 0 0 5px 0; /* Corrigido de "marign" para "margin" */
}

/* terminal screen styles */
.screen__row {
  display: block;
  line-height: 1.5;
  color: #d4d3d3;
  font-size: 1vw;
  font-family: Monospace, Arial, sans-serif;
  min-height: 15px;
}

.screen__row.tab {
  padding-left: 30px;
}

.screen__row:last-of-type:after {
  content: '|';
  font-weight: bold;
  animation: cursor 1.5s linear infinite;
}

.screen__success {
  color: #47cf73;
  
}

.screen__primary {
  color: #0ebeff;
}

.screen__default {
  color: #d4d3d3;
}

.screen__warning {
  color: yellow;
}

.screen__danger {
  color: #be0e0e;
}

.screen__dark {
  color: #888;
}

/* Keyframe for cursor animation */
@keyframes cursor {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media(max-width:480px){

.terminal {
  width: 100%;
  height: 100%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
 
}

/* terminal window */
.terminal__window {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.terminal__window-header {
  text-align: center;

  border-radius: 5px 5px 0 0;
  color: #e4e4e4;
  position: relative;
  border-bottom: 1px solid #676d6f;
}

.terminal__controls {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0 10px;
  transform: translateY(-50%);
}

.terminal__controls:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #be0e0e;
  vertical-align: middle;
}

.terminal__controls:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4dff00;
  vertical-align: middle;
 
}

.terminal__window-body {
  border: 1px solid #3c3f40;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  
}

/* terminal screen */
.terminal__screen {
  width: 100%;
  min-height: 350px;
  border-radius: 0 0 3px 3px;
  overflow-y: auto;
}

.terminal__screen > span {
  margin: 0 0 5px 0; /* Corrigido de "marign" para "margin" */
}

/* terminal screen styles */
.screen__row {
  display: block;
  line-height: 1.5;
  color: #d4d3d3;
  font-size: 1vw;
  font-family: Monospace, Arial, sans-serif;
  min-height: 15px;
  
}

.screen__row.tab {
  padding-left: 30px;
  
}

.screen__row:last-of-type:after {
  content: '|';
  font-weight: bold;
  animation: cursor 1.5s linear infinite;
}

.screen__success {
  color: #47cf73;
  font-size: 4vw;
  
}

.screen__primary {
  color: #0ebeff;
  font-size: 4vw;
}

.screen__default {
  color: #d4d3d3;
  font-size: 4vw;
}

.screen__warning {
  color: yellow;
  font-size: 4vw;
}

.screen__danger {
  color: #be0e0e;
  font-size: 4vw;
  
}

.screen__dark {
  color: #888;
  font-size: 4vw;
}

/* Keyframe for cursor animation */
@keyframes cursor {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

}